<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('Nova Events Sign In')"></head>

<body>

<nav th:replace="layout :: navbar"></nav>

<div class="container">

    <h2>Nova Events Sign In</h2>

    <form th:action="@{/login}" method="post">
        <input type="text" id="username" name="username"/>
        <input type="password" id="password" name="password"/>
        <button type="submit">Sign In</button>
    </form>

</div>

<th:block th:replace="layout :: scripts"></th:block>

</body>
</html>